{% extends "NOUTSessionManagerBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}

	<style type="text/css">

		.form {
			margin-left: auto;
			margin-right: auto;
			width: 200px;
		}

		button[type=submit] {
			margin: 1em 0 1em 0;
		}

	</style>

{% endblock%}

{% block containt %}
	<div class="form">
		{% if error %}
			<div class="form_error">{{ error.message }}</div>
		{% endif %}
		<form action="{{ path('login_check') }}" method="post">
			<div>
				<label for="username">{{ 'Login' | trans }} :</label>
				<input type="text" id="username" name="m_sLogin" value="{{ last_username }}" />
			</div>
			<div>
				<label for="password">{{ 'Password' | trans }} :</label>
				<input type="password" id="password" name="m_sPass" />
			</div>

			{#
				Si vous voulez contrôler l'URL vers laquelle l'utilisateur est redirigé en cas de succès
				(plus de détails ci-dessous)
				<input type="hidden" name="_target_path" value="/account" />
			#}

			<button type="submit">{{ 'Connection' | trans }}</button>
		</form>
	</div>
{% endblock %}
