
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>NOUTSessionManager Bundle</title>
	{% block stylesheets %}
		<!-- icon -->
		<link rel="shortcut icon" href="{{ asset('bundles/noutsessionmanager/img/favicon.ico') }}" type="image/x-icon"/>
		<link rel="icon" href="{{ asset('bundles/noutsessionmanager/img/favicon.ico') }}" type="image/x-icon"/>

		<!-- feuille de style -->
		<link rel="stylesheet" href="{{ asset('bundles/noutsessionmanager/css/bootstrap.min.css') }}" />
	{% endblock%}
</head>
<body>

<div class="container">

	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<div class="panel-title">{{ 'Sign In' | trans }}</div>
				{# <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div> #}
			</div>
			<div style="padding-top:30px" class="panel-body" >
				<form id="loginform" class="form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
					{% if error %}
					<div style="margin-bottom: 25px" class="input-group col-sm-12">
						<div id="login-alert" class="alert alert-danger col-sm-12 ">{{ error.message }}</div>
					</div>
					{% endif %}
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input id="login-username" type="text" class="form-control" name="m_sLogin" value="{{ last_username }}" placeholder="{{ 'Login' | trans }}">
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input id="login-password" type="password" class="form-control" name="m_sPass" placeholder="{{ 'Password' | trans }}">
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
						<select class="form-control" id="login-timezone" name="m_sTimeZone">
							{% for zone in timezone_list %}
								<option value="{{ zone.zone }}" {% if last_timezone == zone.zone %} selected {% endif %}  >UTC/GMT {{ zone.diff_from_GMT }} - {{ zone.zone }}</option>
							{% endfor %}
						</select>
					</div>
					<div style="margin-top:10px" class="form-group">
						<!-- Button -->
						<div class="col-sm-12 controls">
							<button type="submit" class="btn btn-default btn-success">{{ 'Connection' | trans }}</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 control">
							<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
								© NOUTSessionManager Bundle <br />
								© NOUTOnline {{ version_noutonline }}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% block javascripts %}
	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="{{ asset('bundles/noutsessionmanager/js/jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/noutsessionmanager/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/noutsessionmanager/js/jstz.min.js') }}"></script>

	<script type="text/javascript">
		$( document ).ready(function() {
			var hasSelected = $('#login-timezone').has('[selected]').length > 0;
			if (!hasSelected)
			{
				var timezone = jstz.determine();
				$("#login-timezone").val(timezone.name());
			}
		});
	</script>
{% endblock %}
</body>
</html>












