
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Support pour IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% if customization.window_title is not empty %}{{ customization.window_title }}{% else %}{{ 'login.sign_in' | trans }}{% endif %}</title>
	{% block stylesheets %}

        <!-- icon -->
        {% if customization.favicon_file is not empty %}
            <link rel="icon" href="{{ asset('custom/') }}{{ customization.favicon_file }}" />
        {% else %}
            <link rel="shortcut icon" href="{{ asset('bundles/noutsessionmanager/img/favicon.ico') }}" type="image/x-icon"/>
            <link rel="icon" href="{{ asset('bundles/noutsessionmanager/img/favicon.ico') }}" type="image/x-icon"/>
        {% endif %}

		<!-- feuille de style -->
		<link rel="stylesheet" href="{{ asset('vendors/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/noutsessionmanager/style/style.css') }}" />

        {% if customization.css_file is not empty %}
            <link rel="stylesheet" href="{{ asset('custom/') }}{{ customization.css_file }}?{{ version_asset }}" />
        {% endif %}
	{% endblock%}
</head>
<body>

{#<div class="container">#}

	<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        {% if customization.title is not empty or customization.logo_file is not empty %}
            <div class="custom_logo_title">
                {% if customization.logo_file is not empty %}
                    <div class="custom_logo" style="background-image: url('{{ asset('custom/') }}{{ customization.logo_file }}');"></div>
                {% endif %}
                {% if customization.title is not empty %}
                <h1 class="custom_title">
                {{ customization.title }}
                </h1>
                {% endif %}
            </div>
		{% endif %}
		<div class="panel" >
            {% set isMin = true %}
			<div class="panel-heading">
				<div class="panel-title">{% if extranet %}<span class="glyphicon glyphicon-globe"></span> {% endif %}{{ 'login.sign_in' | trans }}</div>
			</div>
			<div style="padding-top:30px" class="panel-body" >
				<form id="loginform" class="form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
					{% if error %}
					<div style="margin-bottom: 25px" class="input-group col-sm-12">
						<div id="login-alert" class="alert alert-danger col-sm-12 ">{{ error.message }}</div>
					</div>
					{% endif %}
                    {% if not noutonline_is_started() %}
                        {# NOUTOnline ne répond pas #}
                        {{ 'login.noutonline_no_answer' | trans | nl2br }}
                    {% elseif not noutonline_is_versionmin() %}
                        {% set isMin = false %}
                        {{ 'login.noutonline_no_versionmin' | trans | replace({'%version%': version_min}) | nl2br }}
                    {% else %}
                        {# Tout va bien on peut se connecter #}
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="m_sLogin" value="{{ last_username }}" placeholder="{{ 'login.login' | trans }}">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="m_sPass" placeholder="{{ 'login.password' | trans }}">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group hidden">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            <select class="form-control" id="login-timezone" name="m_sTimeZone">
                                {% for zone in timezone_list %}
                                    <option value="{{ zone.zone }}" {% if last_timezone == zone.zone %} selected {% endif %}  >UTC/GMT {{ zone.diff_from_GMT }} - {{ zone.zone }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-default btn-login">{{ 'login.connection' | trans }}</button>
                            </div>
                        </div>
                    {% endif %}
				</form>
			</div>
			<div class="panel-footer">
				© NOUTWeb {{ version_site }}
				<br />
                © NOUTOnline <span {% if not isMin %}class="text-danger" style="font-weight: bold"{% endif %}>{{ noutonline_version() }}</span>
			</div>
		</div>
	</div>
{#</div>#}

{% block javascripts %}
	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="{{ asset('vendors/jquery/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('vendors/bootstrap/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('vendors/jstz/jstz.min.js') }}"></script>

	<script type="text/javascript">
		$( document ).ready(function() {
			var hasSelected = $('#login-timezone').has('[selected]').length > 0;
			if (!hasSelected)
			{
				var timezone = jstz.determine();
				$("#login-timezone").val(timezone.name());
			}
		});
	</script>
{% endblock %}
</body>
</html>












